<h1>Instances</h1>

<table id="instances" data-source="<%= instances_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Type</th>
      <th>State</th>
      <th>AZ</th>
      <th>Public IP</th>
      <th>Private IP</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>
