---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=&Action=DescribeInstances&Filter.1.Name=instance-state-name&Filter.1.Value.1=pending&Filter.1.Value.2=running&Filter.1.Value.3=shutting-down&Filter.1.Value.4=stopping&Filter.1.Value.5=stopped&Signature=pY15m%2BXH6sdNGtgXmEnqFBHQu0H9PJGjM3khelbS8DM%3D&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-10-05T01%3A27%3A17Z&Version=2014-06-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2014-06-15/">
            <requestId>7f05cb74-be30-4cc4-aebd-3205e95f9211</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-ebde3fc4</reservationId>
                    <ownerId>749779118921</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-28709c42</groupId>
                            <groupName>topperharley-mongodb-production</groupName>
                        </item>
                        <item>
                            <groupId>sg-9cb42df4</groupId>
                            <groupName>Infrastructure-Client</groupName>
                        </item>
                    </groupSet>
                    <instancesSet>
                        <item>
                            <instanceId>i-8725d5a8</instanceId>
                            <imageId>ami-8de3e6e4</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-124-197-226.ec2.internal</privateDnsName>
                            <dnsName>ec2-54-226-162-137.compute-1.amazonaws.com</dnsName>
                            <reason/>
                            <keyName>ekg_test</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>m1.large</instanceType>
                            <launchTime>2014-03-19T19:30:22.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1b</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <kernelId>aki-88aa75e1</kernelId>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <privateIpAddress>10.124.197.226</privateIpAddress>
                            <ipAddress>54.226.162.137</ipAddress>
                            <groupSet>
                                <item>
                                    <groupId>sg-28709c42</groupId>
                                    <groupName>topperharley-mongodb-production</groupName>
                                </item>
                                <item>
                                    <groupId>sg-9cb42df4</groupId>
                                    <groupName>Infrastructure-Client</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-8e68cdfc</volumeId>
                                        <status>attached</status>
                                        <attachTime>2014-03-19T19:30:26.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                                <item>
                                    <deviceName>/dev/sdb</deviceName>
                                    <ebs>
                                        <volumeId>vol-3d6bce4f</volumeId>
                                        <status>attached</status>
                                        <attachTime>2014-03-19T19:30:26.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>paravirtual</virtualizationType>
                            <clientToken>lcoyu1395257421909</clientToken>
                            <tagSet>
                                <item>
                                    <key>Environment</key>
                                    <value>production</value>
                                </item>
                                <item>
                                    <key>Name</key>
                                    <value>topperharley-mongodb-production-r02.jam</value>
                                </item>
                                <item>
                                    <key>Datacenter</key>
                                    <value>james</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet/>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                </item>
                <item>
                    <reservationId>r-a8596d84</reservationId>
                    <ownerId>749779118921</ownerId>
                    <groupSet>
                        <item>
                            <groupId>sg-b1b380da</groupId>
                            <groupName>staging-orch-mongodb-AccessMongoSecurityGroup-YBWV98XXHENU</groupName>
                   [...]
